.secondsection{
    margin-left: 0px;
    
}

.pa{
    text-align: center;
}
.par{
    margin-left: 20px;
    font-size: 17px;
    text-align: center;
}
.instruments{
    width: 70%;
    height: 60%;
    margin-left: 200px;
}
.pr{
    margin-left: 40px;
    font-size: 17px;
}